<span>
    Bem-vindo à seção informativa que desvenda o funcionamento dos cupons em nosso restaurante.
    Navegar pela experiência do usuário é simples e intuitivo,
    com três telas principais projetadas para oferecer total transparência e controle.
    Vamos dar uma olhada mais detalhada em cada uma delas:
</span>

<ul>
    <li>
        <h2>Home</h2><span>
            Esta é a sua porta de entrada para a plataforma. Descubra os benefícios exclusivos oferecidos pelos nossos
            cupons, obtenha orientações sobre a navegação eficiente e familiarize-se com as funcionalidades essenciais
            disponíveis.
        </span>
    </li>
    <li>
        <h2>Lista de Cupons</h2>
        Aqui, apresentamos uma visão abrangente de todos os cupons disponíveis em nosso restaurante.
        A lista não só exibe os cupons, mas também oferece gráficos para facilitar entendimento geral dos cupons.
        a tabela permite mudar o formato de apresentar das colunas com um clique no icone de olho é possivel habilitar
        ou desabilitar as colunas e ao clicar nos cabeçalhos das colunas é possivel ver ordenação Ascendente e
        decrescente das informações
        A partir desta tela, você pode facilmente modificar o status dos cupons e excluí-los com apenas alguns
        cliques.<span>

        </span>
    </li>
    <li>
        <h2>Adicionar Cupom</h2>
        Ao clicar no botão "Adicionar" na tela de Lista, você será direcionado para o formulário de adição de cupons.
        Este é o
        local onde você pode contribuir para a diversidade de ofertas, inserindo um novo cupom. O formulário é projetado
        para
        ser claro e intuitivo, tornando o processo de adição de cupons uma tarefa descomplicada.
        Esta seção informativa foi projetada com o objetivo de tornar sua experiência com os cupons do restaurante
        transparente
        e fácil de entender. Se surgirem dúvidas ou se precisar de mais informações passe o mouse sobre os icones de
        "i"<span>
        </span>
    </li>
</ul>