<h3>
    Desafio vaga Desenvolvedor Front-End UI/UX
</h3>
<section>
    <h4>
        Introdução
    </h4>
    Este desafio tem como objetivo avaliar suas habilidades em desenvolvimento Front-End, design de interface de usuário
    e
    experiência do usuário (UI/UX). Você terá 72 horas para completar o desafio e enviar o resultado final para um
    repositório no GitHub.
</section>
<section>
    <h4>
        Descrição do Projeto
    </h4>
    <p>Você deve criar uma nova página de gestão de cupons na dashboard de um restaurante. A página deve incluir as
        seguintes
        funcionalidades:</p>
    <ul>
        <li>
            <h5>
                Tutorial de Como Funciona:
            </h5>
            Crie uma seção ou modal que explique como os cupons funcionam no restaurante. Isso deve ser apresentado de
            forma clara e concisa.
        </li>
        <li>
            <h5>
                Aba para Cadastro de Cupons
            </h5>
            Implemente uma seção onde o restaurante pode cadastrar novos cupons. Os campos necessários devem incluir:
            nome do cupom, valor de desconto, data de validade e outras informações relevantes.
        </li>
        <li>
            <h5>
                Listagem de Cupons:
            </h5>
            Crie uma seção que exiba todos os cupons cadastrados, incluindo suas informações. Os cupons devem ser
            organizados de forma clara e ordenados por data de validade.
        </li>
        <li>
            <h5>
                Exclusão de Cupons:
            </h5>
            Permita que o restaurante exclua cupons individualmente. Isso pode ser feito com um botão "Excluir" ao lado
            de cada cupom na lista.
        </li>
        <li>
            <h5>
                Gráfico de Uso dos Cupons:
            </h5>
            Crie um gráfico que mostre o uso dos cupons ao longo do tempo. Isso pode ser um gráfico de barras ou de
            pizza, dependendo do que você considerar mais adequado para a representação dos dados. (pode usar uma CDN
            para aplicar o gráfico)

        </li>
    </ul>
</section>
<section>
    <h4>
        Requisitos Técnicos
    </h4>
    Utilize AngularJS ou Angular2+ (fica a sua escolha).
    Para CSS poderá ser utilizado Bootstrap.
    Certifique-se de que a página seja responsiva, funcionando bem em diferentes tamanhos de tela.
    Use boas práticas de design de interface de usuário e experiência do usuário para tornar a página intuitiva e
    agradável
    de usar, considerando que nossos clientes não tem familiaridade com tecnologia, então todo cuidado é pouco.
    Entrega
    Crie um repositório no GitHub para o projeto.
    Inclua um arquivo README.md que explique como executar o projeto localmente.
    No README.md, forneça capturas de tela e instruções de uso da página.
    Responda esse e-mail com o link do repositório.
</section>
<section>
    <h4>Critérios de Avaliação</h4>
    <p>Seu trabalho será avaliado com base nos seguintes critérios:</p>
    <ol>
        <li> Qualidade do código (estrutura, legibilidade).</li>
        <li> Design de interface de usuário e experiência do usuário.</li>
        <li> Funcionalidade e completude das funcionalidades sliicitadas.</li>
        <li> Responsividade e compatibilidade com navegadores.</li>
        <li> Eficiência no uso de recursos e carregamento rápido da página.</li>
        <li> Capacidade de explicar e justificar suas decisões de design e implementação.</li>
    </ol>
</section>